:root{
    --primario: #ffffff;
}
html {
    height: 100%;
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    position: relative;
    padding-bottom: 6rem;
    min-height: 95%;
    margin: 0;    
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.morado{
    background-color: var(--primario); 
    padding: 40px;
    border-radius: 10px;
}
.logo{
    margin-top: 40px;
    margin-bottom: 20px;
}
.text-footer{
    color: white;
}
.formulario-registro{
    margin: 80px;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
  }